<form id="HolidayCallenderForm">
    <div class="modal fade" id="HolidayCallenderModal" tabindex="-1" aria-labelledby="HolidayCallenderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width: 60% !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="HolidayCallenderModalLabel">Add/Edit Callender</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="padding:10px !important">
                    <input type="hidden" id="Id" />
                    
                    <div class="form-row">
                        <div class="col-6 mb-3">
                            <label for="FestivalName" class="form-label">Title</label>
                            <input type="text" class="form-control" id="FestivalName" name="FestivalName" placeholder="Festival Name" autofocus required />
                        </div>
                        <div class="col-6 mb-3">
                            <label for="HolidayDate" class="form-label">Holiday Date</label>
                            <input type="text" class="form-control" id="HolidayDate" name="HolidayDate" autofocus />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="addEditCallender">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>