<input type="hidden" id="EmployeeId" />
<div class="form-row">
    <div class="col-4 mb-3">
        <label for="Code" class="form-label">Code</label>
        <input type="text" class="form-control" id="Code" name="Code" />
    </div>
    <div class="col-4 mb-3">
        <label for="FirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" autofocus />
    </div>
    <div class="col-4 mb-3">
        <label for="LastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="LastName" name="LastName" autofocus />
    </div>
</div>
<div class="form-row">
    <div class="col-4 mb-3">
        <label for="MotherName" class="form-label">Mother Name</label>
        <input type="text" class="form-control" id="MotherName" name="MotherName"  autofocus />
    </div>
    <div class="col-4 mb-3">
        <label for="FatherName" class="form-label">Father Name</label>
        <input type="text" class="form-control" id="FatherName" name="FatherName" autofocus />
    </div>
    <div class="col-4 mb-3">
        <label for="Gender" class="form-label">Gender</label>
        <select id="Gender" class="form-control custom-select" autofocus required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="col-4 mb-3">
        <label for="DateOfBirth" class="form-label">Date Of Birth</label>
        <input type="text" class="form-control" id="DateOfBirth" name="DateOfBirth" autofocus />
    </div>
    <div class="col-4 mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="text" class="form-control" id="Email" name="Email" autofocus />
    </div>
    <div class="col-4 mb-3">
        <label for="Phone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="Phone" name="Phone" placeholder="10" />
    </div>
</div>
<div class="form-row">
    <div class="col-4 mb-3">
        <label for="Role" class="form-label">Role</label>
        <select id="Role" class="form-control custom-select" autofocus required>
            
        </select>
    </div>
    <div class="col-4 mb-3">
        <label for="Department" class="form-label">Department</label>
        <select id="Department" class="form-control custom-select" autofocus required>
        </select>
    </div>
    <div class="col-4 mb-3">
        <label for="Designation" class="form-label">Designation</label>
        <select id="Designation" class="form-control custom-select" autofocus required>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="col-4 mb-3">
        <label for="StartedOn" class="form-label">Started On</label>
        <input type="text" class="form-control" id="StartedOn" name="DateOfBirth" autofocus />
    </div>
    <div class="col-4 mb-3">
        <label for="EndedOn" class="form-label">Ended On</label>
        <input type="text" class="form-control" id="EndedOn" name="EndedOn" autofocus />
    </div>
    <div class="col-4 mb-3">
        <label for="ResignedOn" class="form-label">Resigned On</label>
        <input type="text" class="form-control" id="ResignedOn" name="ResignedOn" autofocus />
    </div>
</div>
<div class="form-row">
    <div class="col-4 mb-3">
        <label for="LastWorkingDay" class="form-label">Last Working Day</label>
        <input type="text" class="form-control" id="LastWorkingDay" name="LastWorkingDay" autofocus />
    </div>
    <div class="col-4 mb-3">
        <label for="OfferRelesedOn" class="form-label">Offer Relesed On</label>
        <input type="text" class="form-control" id="OfferRelesedOn" name="OfferRelesedOn" autofocus />
    </div>
    <div class="col-4 mb-3">
        <label for="OfferAcceptedOn" class="form-label">OfferA ccepted On</label>
        <input type="text" class="form-control" id="OfferAcceptedOn" name="OfferAcceptedOn" autofocus />
    </div>
</div>
<div class="form-row">
    <div class="col-4 mb-3">
        <label for="OfferPrice" class="form-label">Offer Price</label>
        <input type="text" class="form-control" id="OfferPrice" name="OfferPrice" placeholder="1" autofocus />
    </div>
    <div class="col-4 mb-3">
        <label for="CurrentPrice" class="form-label">Current Price</label>
        <input type="text" class="form-control" id="CurrentPrice" name="CurrentPrice" placeholder="100" />
    </div>
    <div class="col-4 mb-3">
        <label for="JoiningBonus" class="form-label">Joining Bonus</label>
        <input type="text" class="form-control" id="JoiningBonus" name="JoiningBonus" placeholder="0" />
    </div>

</div>