<div class="form-row">
    <div class="col-4 mb-3">
        <label for="PAN" class="form-label">PAN</label>
        <input type="text" class="form-control" id="PAN" name="PAN" autofocus required />
    </div>
    <div class="col-4 mb-3">
        <label for="Adhar" class="form-label">Adhar</label>
        <input type="text" class="form-control" id="Adhar" name="Adhar" autofocus required />
    </div>
    <div class="col-4 mb-3">
        <label for="UAN" class="form-label">UAN</label>
        <input type="text" class="form-control" id="UAN" name="UAN" />
    </div>
</div>
<div class="form-row">
    <div class="col-4 mb-3">
        <label for="BankAccount" class="form-label">BankAccount</label>
        <input type="text" class="form-control" id="BankAccount" name="BankAccount" autofocus required />
    </div>
    <div class="col-4 mb-3">
        <label for="BankName" class="form-label">BankName</label>
        <input type="text" class="form-control" id="BankName" name="BankName" autofocus required />
    </div>
    <div class="col-4 mb-3">
        <label for="IFSC" class="form-label">IFSC</label>
        <input type="text" class="form-control" id="IFSC" name="IFSC" autofocus required />
    </div>
</div>
<div class="form-row">
    <div class="col-4 mb-3">
        <label for="PFNO" class="form-label">PFNO</label>
        <input type="text" class="form-control" id="PFNO" name="PFNO" autofocus required />
    </div>
    <div class="col-4 mb-3">
      
    </div>
</div>
