<div class="modal fade" id="SalaryHike" tabindex="-1" aria-labelledby="SalaryHikeLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SalaryHikeLabel">Salary Hike</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-12 mb-3">
                        <label for="OrignalSalary" class="form-label">Orignal Salary</label>
                        <input type="text" class="form-control" id="OrignalSalary" name="OrignalSalary" autofocus />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 mb-3">
                        <label for="LatestSalary" class="form-label">Latest Salary</label>
                        <input type="text" class="form-control" id="LatestSalary" name="LatestSalary" autofocus />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 mb-3">
                        <label for="ProcessTimesheetMessage" class="form-label">Message</label>
                        <textarea class="form-control" id="ProcessTimesheetMessage" name="ProcessTimesheetMessage" placeholder="Enter your Message"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="confirmProcessRequest">Yes, Process</button>
            </div>
        </div>
    </div>
</div>
