@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row" style="padding-top:15px">
    </div>
    <!-- Bordered Table -->
    <div class="card">
        <div class="card-header">
            <div class="col-md-8 float-left" style="text-align: right;float: right;">
                <button id="toggleDrawer" class="btn btn-success">
                    <i class="fas fa-plus"></i> Add
                </button>
                <button id="importData" class="btn btn-primary">
                    <i class="fas fa-download"></i> Import
                </button>
                <button id="ExportData" class="btn btn-info">
                    <i class="fas fa-upload"></i> Export
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-striped table-bordered text-nowrap" style="width:100%" id="EmployeesGrid">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Department</th>
                            <th>Role</th>
                            <th>Designation</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Employee/_AddEditEmployeeDetailsPartial.cshtml" />
<partial name="~/Views/Employee/_createUserAccessPartial.cshtml" />
<partial name="~/Views/Employee/_SalaryHikePartial.cshtml" />
<style>
    .form-row {
        display: inline-flex !important;
        width: 100% !important;
    }

    .col-4 {
        padding: 5px !important;
    }

    .col-6 {
        padding: 5px !important;
    }
</style>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/EmployeeController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl = new EmployeeController();
        ctrl.init();
    });
</script>
