<form id="ForgotPasswordForm">
    <div class="modal fade" id="ForgotPasswordModal" tabindex="-1" aria-labelledby="ForgotPasswordLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ForgotPasswordLabel">Forgot paassord</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="padding:10px !important">
                    <div class="form-row">
                        <div class="col-12 mb-3">
                            <label for="email" class="form-label">Email</label>
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg" id="username" name="username" placeholder="Enter your email" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 mb-3">
                            <label for="Phone" class="form-label">Phone</label>
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg" id="Phone" name="Phone" placeholder="Enter your Phone"/>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="btnForgotPassword">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>