
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft10{font-size:15px;font-family:Times;color:#000000;}
	.ft11{font-size:12px;font-family:Times;color:#000000;}
	.ft12{font-size:14px;font-family:Times;color:#000000;}
	.ft13{font-size:12px;line-height:17px;font-family:Times;color:#000000;}
	.ft14{font-size:14px;line-height:19px;font-family:Times;color:#000000;}
	.ft15{font-size:15px;line-height:21px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page1-div" style="position:relative;width:892px;height:1262px;">
<img width="892" height="1262" src="https://clarity.betalen.in/img/logo.png" alt="background image"/>
<p style="position:absolute;top:86px;left:552px;white-space:nowrap" class="ft10">Betalen&#160;Technology&#160;India&#160;Private&#160;Limited</p>
<p style="position:absolute;top:108px;left:552px;white-space:nowrap" class="ft13">105&#160;1st&#160;floor&#160;Beside&#160;manjeera&#160;mall&#160;Plot&#160;no&#160;15-32,&#160;&#160;<br/>manjeera&#160;trinity&#160;corporate,&#160;KPHB&#160;Rd,&#160;Hyderabad,&#160;<br/>Telangana&#160;500085&#160;,India,Phone:+91-8332043983</p>
<p style="position:absolute;top:161px;left:552px;white-space:nowrap" class="ft11">Email&#160;:info@betalen.in</p>
<p style="position:absolute;top:213px;left:705px;white-space:nowrap" class="ft10">July&#160;20,&#160;2019</p>
<p style="position:absolute;top:233px;left:29px;white-space:nowrap" class="ft10">To&#160;Naveen&#160;Kumar&#160;Punem</p>
<p style="position:absolute;top:266px;left:33px;white-space:nowrap" class="ft12">KHAMMAM</p>
<p style="position:absolute;top:316px;left:35px;white-space:nowrap" class="ft10">Dear&#160;Naveen,</p>
<p style="position:absolute;top:349px;left:208px;white-space:nowrap" class="ft10">Sub:&#160;Offer&#160;of&#160;appointment&#160;for&#160;the&#160;post&#160;of&#160;“Software&#160;Engineer”</p>
<p style="position:absolute;top:374px;left:37px;white-space:nowrap" class="ft12">Congratulations!!</p>
<p style="position:absolute;top:410px;left:35px;white-space:nowrap" class="ft14">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Subsequent&#160;to&#160;the&#160;discussion&#160;we&#160;had&#160;recently&#160;with&#160;you,&#160;we&#160;are&#160;pleased&#160;to&#160;offer&#160;you&#160;an&#160;appointment&#160;in&#160;Betalen<br/>Technology&#160;India&#160;Private&#160;Limited&#160;as&#160;per&#160;the&#160;terms&#160;and&#160;conditions&#160;mentioned&#160;below:</p>
<p style="position:absolute;top:470px;left:39px;white-space:nowrap" class="ft10">1.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;DATE&#160;OF&#160;JOINING</p>
<p style="position:absolute;top:503px;left:114px;white-space:nowrap" class="ft10">Your&#160;employment&#160;will&#160;commence&#160;no&#160;later&#160;than&#160;5th&#160;August&#160;2019.</p>
<p style="position:absolute;top:545px;left:38px;white-space:nowrap" class="ft10">2.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;DESIGNATION</p>
<p style="position:absolute;top:585px;left:115px;white-space:nowrap" class="ft10">Software&#160;Engineer</p>
<p style="position:absolute;top:624px;left:39px;white-space:nowrap" class="ft10">3.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;COMPENSATION</p>
<p style="position:absolute;top:666px;left:123px;white-space:nowrap" class="ft15">Your&#160;total&#160;salary&#160;per&#160;annum&#160;is&#160;INR&#160;3,00,000&#160;(Rupees&#160;Three&#160;lakhs&#160;only).&#160;Details&#160;of&#160;your&#160;salary&#160;structure&#160;<br/>are&#160;given&#160;in&#160;the&#160;Annexure</p>
<p style="position:absolute;top:729px;left:42px;white-space:nowrap" class="ft10">4.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;LEAVE</p>
<p style="position:absolute;top:771px;left:118px;white-space:nowrap" class="ft15">You&#160;will&#160;be&#160;entitled&#160;to&#160;20&#160;Days&#160;leave&#160;in&#160;a&#160;calendar&#160;year&#160;on&#160;monthly&#160;accruals&#160;basis.&#160;If&#160;your&#160;joining&#160;is<br/>in&#160;between&#160;a&#160;calendar&#160;year,&#160;the&#160;said&#160;number&#160;of&#160;leaves&#160;shall&#160;be&#160;pro-rated.&#160;Sick/Casual&#160;Leaves&#160;will&#160;not</p>
<p style="position:absolute;top:814px;left:118px;white-space:nowrap" class="ft15">be&#160;carryforward&#160;to&#160;next&#160;calendar&#160;year.&#160;50&#160;Percent&#160;of&#160;un-utilized&#160;can&#160;be&#160;carry&#160;forward&#160;to&#160;next<br/>calendar&#160;year&#160;or&#160;can&#160;be&#160;enchased&#160;at&#160;the&#160;end&#160;of&#160;the&#160;year&#160;with&#160;applicable&#160;taxes&#160;if&#160;any</p>
<p style="position:absolute;top:887px;left:226px;white-space:nowrap" class="ft10">Sick/Casual&#160;Leave</p>
<p style="position:absolute;top:935px;left:226px;white-space:nowrap" class="ft10">Earn&#160;Leaves</p>
<p style="position:absolute;top:890px;left:434px;white-space:nowrap" class="ft10">10&#160;Per&#160;Annum</p>
<p style="position:absolute;top:934px;left:433px;white-space:nowrap" class="ft10">10&#160;Per&#160;Annum</p>
<p style="position:absolute;top:990px;left:47px;white-space:nowrap" class="ft10">5.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;WORKING&#160;HOURS</p>
<p style="position:absolute;top:1022px;left:120px;white-space:nowrap" class="ft10">Company&#160;follows&#160;5&#160;working&#160;days&#160;a&#160;week,&#160;with&#160;Saturday&#160;and&#160;Sunday&#160;as&#160;weekly&#160;off&#160;for&#160;General&#160;shift</p>
<p style="position:absolute;top:1044px;left:120px;white-space:nowrap" class="ft15">associates.&#160;The&#160;core&#160;working&#160;hours&#160;are&#160;from&#160;9&#160;Am&#160;to&#160;6:00&#160;Pm.&#160;These&#160;working&#160;hours&#160;and&#160;working<br/>days&#160;would&#160;vary&#160;depending&#160;on&#160;project&#160;requirements&#160;and&#160;at&#160;company&#160;discretion&#160;with&#160;reasonable<br/>notice&#160;in&#160;accordance&#160;with&#160;applicable&#160;laws</p>
<p style="position:absolute;top:1145px;left:42px;white-space:nowrap" class="ft11">info@betalen.in</p>
<p style="position:absolute;top:1146px;left:727px;white-space:nowrap" class="ft11">https://betalen.in</p>
<p style="position:absolute;top:1151px;left:410px;white-space:nowrap" class="ft11">&#160;&#160;1</p>
</div>
</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft20{font-size:15px;font-family:Times;color:#000000;}
	.ft21{font-size:12px;font-family:Times;color:#000000;}
	.ft22{font-size:12px;line-height:17px;font-family:Times;color:#000000;}
	.ft23{font-size:15px;line-height:21px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page2-div" style="position:relative;width:892px;height:1262px;">
<img width="892" height="1262" src="target002.png" alt="background image"/>
<p style="position:absolute;top:87px;left:552px;white-space:nowrap" class="ft20">Betalen&#160;Technology&#160;India&#160;Private&#160;Limited</p>
<p style="position:absolute;top:109px;left:552px;white-space:nowrap" class="ft21">105&#160;1st&#160;floor&#160;Beside&#160;manjeera&#160;mall&#160;Plot&#160;no&#160;15-32,&#160;&#160;</p>
<p style="position:absolute;top:127px;left:552px;white-space:nowrap" class="ft22">manjeera&#160;trinity&#160;corporate,&#160;KPHB&#160;Rd,&#160;Hyderabad,&#160;<br/>Telangana&#160;500085&#160;,India,Phone:+91-8332043983</p>
<p style="position:absolute;top:162px;left:552px;white-space:nowrap" class="ft21">Email&#160;:info@betalen.in</p>
<p style="position:absolute;top:211px;left:38px;white-space:nowrap" class="ft20">6.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Holidays</p>
<p style="position:absolute;top:242px;left:112px;white-space:nowrap" class="ft20">You&#160;shall&#160;be&#160;eligible&#160;for&#160;10&#160;holidays&#160;in&#160;a&#160;calendar&#160;year&#160;per&#160;the&#160;published&#160;calenda</p>
<p style="position:absolute;top:276px;left:39px;white-space:nowrap" class="ft20">7.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Probation</p>
<p style="position:absolute;top:311px;left:113px;white-space:nowrap" class="ft20">You&#160;will&#160;be&#160;on&#160;Probation&#160;for&#160;3&#160;months.&#160;Probation&#160;Extension&#160;or&#160;closure&#160;will&#160;be&#160;reviewed&#160;based&#160;on</p>
<p style="position:absolute;top:332px;left:113px;white-space:nowrap" class="ft20">performance</p>
<p style="position:absolute;top:365px;left:39px;white-space:nowrap" class="ft20">8.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Probation</p>
<p style="position:absolute;top:401px;left:113px;white-space:nowrap" class="ft23">i)&#160;Your&#160;employment&#160;is&#160;full&#160;time&#160;assignment&#160;and&#160;you&#160;shall&#160;devote&#160;your&#160;whole&#160;time&#160;and&#160;attention&#160;to&#160;the&#160;<br/>interest&#160;of&#160;the&#160;company&#160;and&#160;shall&#160;not&#160;engage&#160;yourself&#160;in&#160;any&#160;other&#160;business/occupation,&#160;whatsoever.</p>
<p style="position:absolute;top:465px;left:113px;white-space:nowrap" class="ft20">ii)&#160;You&#160;shall&#160;not&#160;conduct&#160;yourself&#160;in&#160;any&#160;manner&#160;amounting&#160;to&#160;breach&#160;of&#160;confidence&#160;reposed&#160;in&#160;you&#160;or&#160;</p>
<p style="position:absolute;top:487px;left:113px;white-space:nowrap" class="ft20">inconsistent&#160;with&#160;the&#160;position&#160;or&#160;responsibility&#160;occupied&#160;by&#160;you.</p>
<p style="position:absolute;top:529px;left:113px;white-space:nowrap" class="ft20">iii)&#160;You&#160;shall&#160;not,&#160;at&#160;any&#160;time,&#160;during&#160;your&#160;employment&#160;or&#160;thereafter,&#160;disclose&#160;to&#160;any&#160;person,&#160;firm&#160;or&#160;</p>
<p style="position:absolute;top:551px;left:113px;white-space:nowrap" class="ft23">company&#160;any&#160;information&#160;concerning&#160;the&#160;affairs&#160;of&#160;the&#160;company&#160;or&#160;disclose,&#160;without&#160;the&#160;written&#160;<br/>permission&#160;of&#160;the&#160;company,&#160;any&#160;information&#160;which&#160;is&#160;or&#160;may&#160;be&#160;of&#160;a&#160;confidential&#160;nature.</p>
<p style="position:absolute;top:615px;left:113px;white-space:nowrap" class="ft23">iv)&#160;In&#160;this&#160;connection,&#160;you&#160;are&#160;required&#160;to&#160;sign&#160;the&#160;Non&#160;-&#160;disclosure&#160;agreement&#160;in&#160;the&#160;prescribed&#160;format<br/>which&#160;shall&#160;form&#160;a&#160;part&#160;of&#160;these&#160;terms&#160;and&#160;conditions.</p>
<p style="position:absolute;top:670px;left:38px;white-space:nowrap" class="ft20">9.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;STATUTORY</p>
<p style="position:absolute;top:703px;left:112px;white-space:nowrap" class="ft20">All&#160;statutory&#160;payments&#160;are&#160;demonstrated&#160;based&#160;on&#160;current&#160;applicable&#160;practice&#160;and&#160;law&#160;and&#160;may&#160;be&#160;</p>
<p style="position:absolute;top:724px;left:112px;white-space:nowrap" class="ft23">subject&#160;to&#160;changes&#160;based&#160;on&#160;changes&#160;in&#160;law&#160;from&#160;time&#160;to&#160;time.&#160;Further,&#160;any&#160;changes/modification&#160;to&#160;<br/>statutory&#160;payments,&#160;due&#160;to&#160;change&#160;and/or&#160;amendment&#160;in&#160;law,&#160;shall&#160;not&#160;be&#160;treated&#160;as&#160;change&#160;in&#160;service&#160;<br/>condition(s)&#160;and&#160;therefore&#160;no&#160;notice&#160;of&#160;such&#160;change&#160;will&#160;be&#160;provided&#160;to&#160;you.&#160;However,Company&#160;shall&#160;</p>
<p style="position:absolute;top:788px;left:112px;white-space:nowrap" class="ft23">endeavor&#160;to&#160;inform&#160;you,&#160;via&#160;separate&#160;communication,&#160;about&#160;any&#160;changes/modification&#160;to&#160;statutory&#160;<br/>payment.</p>
<p style="position:absolute;top:841px;left:33px;white-space:nowrap" class="ft20">10.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;TERMINATION&#160;OF&#160;SERVICE</p>
<p style="position:absolute;top:873px;left:113px;white-space:nowrap" class="ft23">i)&#160;This&#160;offer&#160;is&#160;our&#160;formal&#160;contract&#160;and&#160;must&#160;be&#160;read&#160;and&#160;accepted&#160;in&#160;conjunction&#160;with&#160;the&#160;Employment&#160;<br/>Agreement,&#160;Proprietary&#160;Agreement&#160;and&#160;Disclosure&#160;of&#160;interest.&#160;In&#160;addition&#160;to&#160;these&#160;terms&#160;and&#160;conditions&#160;</p>
<p style="position:absolute;top:916px;left:113px;white-space:nowrap" class="ft23">stated&#160;in&#160;the&#160;above&#160;documents,&#160;there&#160;are&#160;other&#160;company&#160;policies&#160;and&#160;procedures&#160;which&#160;you&#160;agree&#160;to&#160;&#160;<br/>observe&#160;and&#160;follow&#160;during&#160;your&#160;employment&#160;with&#160;Betalen.&#160;These&#160;company&#160;policies&#160;and&#160;procedures&#160;may&#160;<br/>be&#160;varied&#160;from&#160;time&#160;to&#160;time</p>
<p style="position:absolute;top:1001px;left:113px;white-space:nowrap" class="ft23">ii)&#160;If&#160;at&#160;any&#160;time,&#160;in&#160;the&#160;opinion&#160;of&#160;the&#160;Company,&#160;which&#160;shall&#160;be&#160;final,&#160;you&#160;are&#160;deemed&#160;insolvent&#160;or&#160;are&#160;<br/>found&#160;to&#160;be&#160;guilty&#160;of&#160;dishonesty,&#160;disobedience,&#160;disorderly&#160;behavior,&#160;negligence,&#160;indiscipline,&#160;or&#160;of&#160;any&#160;</p>
<p style="position:absolute;top:1044px;left:113px;white-space:nowrap" class="ft20">conduct&#160;unbecoming&#160;of&#160;the&#160;status&#160;and&#160;the&#160;post&#160;you&#160;hold&#160;in&#160;the&#160;Company’s&#160;interests&#160;or&#160;of&#160;violation&#160;of&#160;</p>
<p style="position:absolute;top:1149px;left:41px;white-space:nowrap" class="ft21">info@betalen.in</p>
<p style="position:absolute;top:1150px;left:724px;white-space:nowrap" class="ft21">https://betalen.in</p>
<p style="position:absolute;top:1156px;left:408px;white-space:nowrap" class="ft21">&#160;&#160;2</p>
</div>
</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft30{font-size:15px;font-family:Times;color:#000000;}
	.ft31{font-size:12px;font-family:Times;color:#000000;}
	.ft32{font-size:12px;line-height:17px;font-family:Times;color:#000000;}
	.ft33{font-size:15px;line-height:21px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page3-div" style="position:relative;width:892px;height:1262px;">
<img width="892" height="1262" src="target003.png" alt="background image"/>
<p style="position:absolute;top:84px;left:556px;white-space:nowrap" class="ft30">Betalen&#160;Technology&#160;India&#160;Private&#160;Limited</p>
<p style="position:absolute;top:106px;left:556px;white-space:nowrap" class="ft31">105&#160;1st&#160;floor&#160;Beside&#160;manjeera&#160;mall&#160;Plot&#160;no&#160;15-32,&#160;&#160;</p>
<p style="position:absolute;top:123px;left:556px;white-space:nowrap" class="ft31">manjeera&#160;trinity&#160;corporate,&#160;KPHB&#160;Rd,&#160;Hyderabad,&#160;</p>
<p style="position:absolute;top:141px;left:556px;white-space:nowrap" class="ft32">Telangana&#160;500085&#160;,India,Phone:+91-8332043983<br/>Email&#160;:info@betalen.in</p>
<p style="position:absolute;top:208px;left:106px;white-space:nowrap" class="ft30">iii)&#160;You&#160;have&#160;been&#160;offered&#160;position&#160;on&#160;good&#160;faith&#160;that&#160;all&#160;the&#160;information&#160;and&#160;documents&#160;provided&#160;by&#160;</p>
<p style="position:absolute;top:229px;left:106px;white-space:nowrap" class="ft33">you&#160;at&#160;the&#160;time&#160;of&#160;employment&#160;are&#160;true&#160;and&#160;correct.&#160;Your&#160;continued&#160;employment&#160;is&#160;contingent&#160;upon&#160;<br/>satisfactory&#160;background&#160;verification.&#160;Betalen&#160;reserves&#160;the&#160;right&#160;to&#160;terminate&#160;your&#160;employment&#160;without&#160;<br/>notice&#160;if&#160;the&#160;information&#160;and&#160;documents&#160;provided&#160;by&#160;you&#160;are&#160;found&#160;incorrect.&#160;Betalen&#160;warrants&#160;the&#160;</p>
<p style="position:absolute;top:294px;left:106px;white-space:nowrap" class="ft30">right&#160;to&#160;recover&#160;the&#160;costs&#160;incurred&#160;to&#160;perform&#160;the&#160;check&#160;and&#160;withhold&#160;your&#160;salary&#160;thereby.</p>
<p style="position:absolute;top:336px;left:106px;white-space:nowrap" class="ft30">iv)&#160;Absences&#160;from&#160;Work:&#160;Approval&#160;should&#160;be&#160;obtained&#160;in&#160;advance&#160;from&#160;your&#160;line&#160;manager&#160;for&#160;absence&#160;</p>
<p style="position:absolute;top:358px;left:106px;white-space:nowrap" class="ft33">during&#160;working&#160;hours.If&#160;unexpected&#160;circumstances&#160;mean&#160;that&#160;this&#160;is&#160;not&#160;possible,you&#160;should&#160;inform&#160;your&#160;<br/>line&#160;manager&#160;as&#160;soon&#160;as&#160;possible.&#160;Absence&#160;without&#160;approval&#160;and&#160;/&#160;or&#160;explanation&#160;will&#160;be&#160;dealt&#160;with&#160;<br/>under&#160;the&#160;disciplinary&#160;procedure&#160;which&#160;could&#160;result&#160;in&#160;disciplinary&#160;action&#160;being&#160;taken&#160;against&#160;you&#160;by&#160;the&#160;</p>
<p style="position:absolute;top:422px;left:106px;white-space:nowrap" class="ft30">Company&#160;and&#160;which&#160;may&#160;result&#160;in&#160;the&#160;termination&#160;of&#160;your&#160;employment.</p>
<p style="position:absolute;top:455px;left:34px;white-space:nowrap" class="ft30">&#160;11.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;NOTICE&#160;PERIOD</p>
<p style="position:absolute;top:489px;left:105px;white-space:nowrap" class="ft30">Your&#160;services&#160;can&#160;be&#160;terminated&#160;by&#160;giving&#160;30&#160;days’&#160;notice,&#160;in&#160;writing&#160;or&#160;payment&#160;of&#160;salary&#160;in&#160;lieu&#160;of&#160;</p>
<p style="position:absolute;top:511px;left:105px;white-space:nowrap" class="ft33">notice&#160;on&#160;either&#160;side.&#160;In&#160;case&#160;of&#160;shorter&#160;notice,&#160;the&#160;liability&#160;will&#160;be&#160;restricted&#160;to&#160;payment&#160;for&#160;the&#160;<br/>proportionate&#160;period&#160;which&#160;falls&#160;short&#160;of&#160;the&#160;notice&#160;period.&#160;In&#160;case&#160;you&#160;opt&#160;for&#160;leave&#160;during&#160;notice&#160;<br/>period,&#160;the&#160;notice&#160;period&#160;will&#160;be&#160;extended&#160;to&#160;the&#160;tune&#160;of&#160;leaves&#160;availed.&#160;If&#160;during&#160;the&#160;notice&#160;period&#160;you&#160;</p>
<p style="position:absolute;top:575px;left:105px;white-space:nowrap" class="ft33">are&#160;absent&#160;without&#160;permission,&#160;your&#160;services&#160;can&#160;be&#160;terminated&#160;without&#160;any&#160;notice.&#160;Any&#160;reduction/&#160;<br/>waiver&#160;to&#160;notice&#160;period&#160;shall&#160;be&#160;at&#160;the&#160;sole&#160;discretion&#160;of&#160;the&#160;Company.&#160;Company&#160;may&#160;adjust&#160;balance&#160;of&#160;<br/>annual&#160;leaves,&#160;while&#160;granting&#160;such&#160;reduction/&#160;waiver</p>
<p style="position:absolute;top:648px;left:28px;white-space:nowrap" class="ft30">&#160;12.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;COMPENSATION&#160;STRUCTURE</p>
<p style="position:absolute;top:683px;left:105px;white-space:nowrap" class="ft30">The&#160;company&#160;may,&#160;at&#160;any&#160;time,&#160;review&#160;and/or&#160;restructure&#160;the&#160;compensation&#160;package.&#160;Salary&#160;will&#160;be&#160;</p>
<p style="position:absolute;top:704px;left:105px;white-space:nowrap" class="ft33">payable&#160;on&#160;a&#160;monthly&#160;basis,&#160;subject&#160;to&#160;applicable&#160;taxes,&#160;duties,&#160;cesses,&#160;and&#160;other&#160;statutory&#160;deductions,&#160;<br/>and&#160;is&#160;currently&#160;paid&#160;on&#160;or&#160;around&#160;the&#160;last&#160;working&#160;day&#160;of&#160;the&#160;month</p>
<p style="position:absolute;top:761px;left:31px;white-space:nowrap" class="ft30">&#160;13.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Group&#160;Medical&#160;Insurance</p>
<p style="position:absolute;top:797px;left:106px;white-space:nowrap" class="ft33">&#160;In&#160;accordance&#160;with&#160;the&#160;Company's&#160;policy,&#160;you&#160;and&#160;your&#160;immediate&#160;family(as&#160;defined&#160;in&#160;the&#160;Company's&#160;<br/>policy)&#160;shall&#160;be&#160;covered&#160;under&#160;the&#160;Medical&#160;Insurance&#160;policy&#160;held&#160;by&#160;theCompany.&#160;Additionally,&#160;if&#160;you&#160;are&#160;</p>
<p style="position:absolute;top:839px;left:106px;white-space:nowrap" class="ft30">required&#160;to&#160;travel&#160;abroad,&#160;you&#160;may&#160;be&#160;covered&#160;under&#160;the&#160;Company'sOverseas&#160;Medical&#160;Insurance&#160;Policy.</p>
<p style="position:absolute;top:873px;left:32px;white-space:nowrap" class="ft30">&#160;OFFER&#160;ACCEPTANCE&#160;:</p>
<p style="position:absolute;top:903px;left:107px;white-space:nowrap" class="ft33">&#160;You&#160;may&#160;indicate&#160;your&#160;agreement&#160;with&#160;these&#160;terms&#160;and&#160;accept&#160;this&#160;offer&#160;by&#160;responding&#160;to&#160;this&#160;offer&#160;<br/>letter&#160;via&#160;email.&#160;By&#160;sending&#160;acceptance&#160;confirmation&#160;email,&#160;you&#160;have&#160;agreed&#160;to&#160;be&#160;bound&#160;by&#160;the&#160;terms&#160;<br/>&amp;conditions&#160;upon&#160;which&#160;the&#160;offer&#160;of&#160;employment&#160;has&#160;been&#160;made.&#160;This&#160;contract&#160;is&#160;legally&#160;binding&#160;based&#160;</p>
<p style="position:absolute;top:967px;left:107px;white-space:nowrap" class="ft30">on&#160;the&#160;laws&#160;of&#160;India</p>
<p style="position:absolute;top:1147px;left:34px;white-space:nowrap" class="ft31">info@betalen.in</p>
<p style="position:absolute;top:1148px;left:718px;white-space:nowrap" class="ft31">https://betalen.in</p>
<p style="position:absolute;top:1153px;left:403px;white-space:nowrap" class="ft31">&#160;&#160;3</p>
</div>
</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft40{font-size:15px;font-family:Times;color:#000000;}
	.ft41{font-size:12px;font-family:Times;color:#000000;}
	.ft42{font-size:18px;font-family:Times;color:#000000;}
	.ft43{font-size:15px;line-height:21px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page4-div" style="position:relative;width:892px;height:1262px;">
<img width="892" height="1262" src="target004.png" alt="background image"/>
<p style="position:absolute;top:83px;left:554px;white-space:nowrap" class="ft40">Betalen&#160;Technology&#160;India&#160;Private&#160;Limited</p>
<p style="position:absolute;top:105px;left:554px;white-space:nowrap" class="ft41">105&#160;1st&#160;floor&#160;Beside&#160;manjeera&#160;mall&#160;Plot&#160;no&#160;15-32,&#160;&#160;</p>
<p style="position:absolute;top:122px;left:554px;white-space:nowrap" class="ft41">manjeera&#160;trinity&#160;corporate,&#160;KPHB&#160;Rd,&#160;Hyderabad,&#160;</p>
<p style="position:absolute;top:140px;left:554px;white-space:nowrap" class="ft41">Telangana&#160;500085&#160;,India,Phone:+91-8332043983</p>
<p style="position:absolute;top:158px;left:554px;white-space:nowrap" class="ft41">Email&#160;:info@betalen.in</p>
<p style="position:absolute;top:215px;left:114px;white-space:nowrap" class="ft43">You&#160;are&#160;requested&#160;to&#160;submit&#160;a&#160;copy&#160;of&#160;all&#160;the&#160;below&#160;mentioned&#160;documents.&#160;All&#160;the&#160;documents&#160;are<br/>mandatory&#160;to&#160;submit&#160;on&#160;the&#160;day&#160;of&#160;your&#160;joining:</p>
<p style="position:absolute;top:303px;left:117px;white-space:nowrap" class="ft43">i.&#160;Certificates&#160;in&#160;proof&#160;of&#160;your&#160;educational&#160;qualifications&#160;(Graduation,&#160;Post-Graduation)<br/>ii.&#160;Address&#160;and&#160;ID&#160;proof&#160;(Passport,&#160;Aadhaar&#160;&amp;&#160;PAN)</p>
<p style="position:absolute;top:345px;left:117px;white-space:nowrap" class="ft43">iii.&#160;Two&#160;passport&#160;size&#160;photographs&#160;(the&#160;background&#160;should&#160;be&#160;white)<br/>iv.&#160;Resume</p>
<p style="position:absolute;top:503px;left:42px;white-space:nowrap" class="ft40">Sincerely,</p>
<p style="position:absolute;top:550px;left:44px;white-space:nowrap" class="ft40">For&#160;</p>
<p style="position:absolute;top:547px;left:71px;white-space:nowrap" class="ft42">Betalen&#160;Technology&#160;India&#160;Private&#160;Limited</p>
<p style="position:absolute;top:625px;left:47px;white-space:nowrap" class="ft40">Durga&#160;Prasad&#160;Baghuthu</p>
<p style="position:absolute;top:659px;left:48px;white-space:nowrap" class="ft40">Managing&#160;Director</p>
<p style="position:absolute;top:1147px;left:32px;white-space:nowrap" class="ft41">info@betalen.in</p>
<p style="position:absolute;top:1148px;left:716px;white-space:nowrap" class="ft41">https://betalen.in</p>
<p style="position:absolute;top:1154px;left:401px;white-space:nowrap" class="ft41">&#160;&#160;4</p>
</div>
</body>
</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft50{font-size:15px;font-family:Times;color:#000000;}
	.ft51{font-size:12px;font-family:Times;color:#000000;}
	.ft52{font-size:14px;font-family:Times;color:#000000;}
	.ft53{font-size:12px;line-height:17px;font-family:Times;color:#000000;}
	.ft54{font-size:15px;line-height:21px;font-family:Times;color:#000000;}
	.ft55{font-size:14px;line-height:19px;font-family:Times;color:#000000;}
-->
</style>
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
<div id="page5-div" style="position:relative;width:892px;height:1262px;">
<img width="892" height="1262" src="target005.png" alt="background image"/>
<p style="position:absolute;top:84px;left:554px;white-space:nowrap" class="ft50">Betalen&#160;Technology&#160;India&#160;Private&#160;Limited</p>
<p style="position:absolute;top:106px;left:554px;white-space:nowrap" class="ft51">105&#160;1st&#160;floor&#160;Beside&#160;manjeera&#160;mall&#160;Plot&#160;no&#160;15-32,&#160;&#160;</p>
<p style="position:absolute;top:123px;left:554px;white-space:nowrap" class="ft51">manjeera&#160;trinity&#160;corporate,&#160;KPHB&#160;Rd,&#160;Hyderabad,&#160;</p>
<p style="position:absolute;top:141px;left:554px;white-space:nowrap" class="ft53">Telangana&#160;500085&#160;,India,Phone:+91-8332043983<br/>Email&#160;:info@betalen.in</p>
<p style="position:absolute;top:202px;left:307px;white-space:nowrap" class="ft50">&#160;ANNEXURE&#160;&#160;:&#160;&#160;COST&#160;TO&#160;COMPANY</p>
<p style="position:absolute;top:236px;left:56px;white-space:nowrap" class="ft50">Name&#160;of&#160;the&#160;Associate</p>
<p style="position:absolute;top:273px;left:56px;white-space:nowrap" class="ft50">Designation</p>
<p style="position:absolute;top:240px;left:549px;white-space:nowrap" class="ft50">:&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Naveen&#160;Kumar&#160;Punem</p>
<p style="position:absolute;top:276px;left:548px;white-space:nowrap" class="ft50">:&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Software&#160;Engineer</p>
<p style="position:absolute;top:328px;left:101px;white-space:nowrap" class="ft50">Components</p>
<p style="position:absolute;top:326px;left:345px;white-space:nowrap" class="ft50">&#160;Per&#160;Annum</p>
<p style="position:absolute;top:326px;left:649px;white-space:nowrap" class="ft50">&#160;Per&#160;Month</p>
<p style="position:absolute;top:374px;left:68px;white-space:nowrap" class="ft50">Basic</p>
<p style="position:absolute;top:423px;left:67px;white-space:nowrap" class="ft50">HRA</p>
<p style="position:absolute;top:478px;left:67px;white-space:nowrap" class="ft50">Other&#160;Allowances</p>
<p style="position:absolute;top:522px;left:68px;white-space:nowrap" class="ft50">Gross</p>
<p style="position:absolute;top:571px;left:69px;white-space:nowrap" class="ft50">Fixed&#160;Compensation&#160;</p>
<p style="position:absolute;top:618px;left:67px;white-space:nowrap" class="ft50">Cost&#160;to&#160;Company</p>
<p style="position:absolute;top:372px;left:459px;white-space:nowrap" class="ft50">1,50,000.00</p>
<p style="position:absolute;top:425px;left:466px;white-space:nowrap" class="ft50">60,000.00</p>
<p style="position:absolute;top:472px;left:465px;white-space:nowrap" class="ft50">90,000.00</p>
<p style="position:absolute;top:520px;left:454px;white-space:nowrap" class="ft50">3,00,000.00</p>
<p style="position:absolute;top:572px;left:453px;white-space:nowrap" class="ft50">3,00,000.00</p>
<p style="position:absolute;top:615px;left:453px;white-space:nowrap" class="ft50">3,00,000.00</p>
<p style="position:absolute;top:372px;left:764px;white-space:nowrap" class="ft50">12,500.00</p>
<p style="position:absolute;top:425px;left:777px;white-space:nowrap" class="ft50">5,000.00</p>
<p style="position:absolute;top:478px;left:776px;white-space:nowrap" class="ft50">7,500.00</p>
<p style="position:absolute;top:525px;left:769px;white-space:nowrap" class="ft50">25,000.00</p>
<p style="position:absolute;top:571px;left:770px;white-space:nowrap" class="ft50">25,000.00</p>
<p style="position:absolute;top:618px;left:773px;white-space:nowrap" class="ft50">25,000.00</p>
<p style="position:absolute;top:658px;left:60px;white-space:nowrap" class="ft50">Other&#160;Allowances:</p>
<p style="position:absolute;top:691px;left:107px;white-space:nowrap" class="ft54">Other&#160;allowances&#160;include&#160;Flexible&#160;benefits&#160;as&#160;a&#160;component&#160;to&#160;your&#160;salary&#160;structure&#160;that&#160;you&#160;can&#160;select&#160;<br/>from&#160;the&#160;below&#160;given&#160;list&#160;to&#160;avail&#160;tax&#160;benefits&#160;per&#160;the&#160;Income&#160;Tax&#160;act&#160;provisions&#160;and&#160;as&#160;provisioned&#160;in&#160;<br/>the&#160;payroll&#160;structure/policy&#160;of&#160;the&#160;company.&#160;Conditions&#160;and&#160;limitations&#160;may&#160;apply</p>
<p style="position:absolute;top:770px;left:72px;white-space:nowrap" class="ft52">Lunch&#160;Allowance&#160;</p>
<p style="position:absolute;top:819px;left:71px;white-space:nowrap" class="ft52">Telephone&#160;&amp;&#160;Internet</p>
<p style="position:absolute;top:869px;left:73px;white-space:nowrap" class="ft52">Children&#160;Education&#160;</p>
<p style="position:absolute;top:920px;left:72px;white-space:nowrap" class="ft52">Leave&#160;Travel&#160;Assistance&#160;</p>
<p style="position:absolute;top:964px;left:71px;white-space:nowrap" class="ft52">Business&#160;Attire</p>
<p style="position:absolute;top:1008px;left:71px;white-space:nowrap" class="ft52">Professional&#160;Development</p>
<p style="position:absolute;top:774px;left:286px;white-space:nowrap" class="ft52">Maximum&#160;of&#160;INR&#160;2200/-&#160;per&#160;month</p>
<p style="position:absolute;top:822px;left:282px;white-space:nowrap" class="ft52">Maximum&#160;of&#160;INR&#160;2000/-&#160;per&#160;month</p>
<p style="position:absolute;top:862px;left:285px;white-space:nowrap" class="ft55">Maximum&#160;of&#160;INR&#160;100/-&#160;for&#160;education&#160;and&#160;INR&#160;300/-&#160;for&#160;boarding&#160;expenses<br/>per&#160;child&#160;and&#160;for&#160;a&#160;maximum&#160;of&#160;two&#160;children</p>
<p style="position:absolute;top:913px;left:283px;white-space:nowrap" class="ft55">Leave&#160;Travel&#160;Allowance&#160;is&#160;allowed&#160;twice&#160;in&#160;a&#160;block&#160;of&#160;four&#160;years&#160;as<br/>stipulated&#160;in&#160;the&#160;Income&#160;Tax&#160;Act</p>
<p style="position:absolute;top:965px;left:283px;white-space:nowrap" class="ft52">Maximum&#160;of&#160;INR&#160;1000/-&#160;per&#160;month</p>
<p style="position:absolute;top:1007px;left:285px;white-space:nowrap" class="ft52">Maximum&#160;of&#160;INR&#160;1000/-&#160;per&#160;month</p>
<p style="position:absolute;top:1148px;left:38px;white-space:nowrap" class="ft51">info@betalen.in</p>
<p style="position:absolute;top:1149px;left:722px;white-space:nowrap" class="ft51">https://betalen.in</p>
<p style="position:absolute;top:1154px;left:406px;white-space:nowrap" class="ft51">&#160;&#160;5</p>
</div>
</body>
</html>
