<form id="ResetpasswordForm">
    <div class="modal fade" id="ResetpasswordModal" tabindex="-1" aria-labelledby="ResetpasswordLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ResetpasswordLabel">Reset paassord</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="padding:10px !important">
                    <div class="form-row">
                        <div class="col-12 mb-3">
                            <label for="newPassword" class="form-label">New password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="newPassword" name="newPassword" autofocus required />
                                <div class="input-group-append">
                                    <span class="input-group-text toggle-password"><i class="fas fa-eye-slash"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 mb-3">
                            <label for="confirmPassword" class="form-label">Confirm password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" autofocus required />
                                <div class="input-group-append">
                                    <span class="input-group-text toggle-password"><i class="fas fa-eye-slash"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="btnResetPassword">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>