<div class="table-responsive text-nowrap">
    <table class="table table-striped table-bordered text-nowrap" style="width:100%" id="TutionFeeGrid">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Actual Fee</th>
                <th>Final Fee</th>
                <th>Remaing Fee</th>
                <th>Paid Fee</th>
                <th>Paid On</th>                
            </tr>
        </thead>
    </table>
</div>